name: Node.js Package

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish-package:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Setup"
        uses: actions/setup-node@v2
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/
      - name: "Install dependencies"
        run: npm install
      - name: "Build"
        run: npm run build
      - name: "Create Release"
        uses: softprops/action-gh-release@v2.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Publish"
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
